@import "./button";

/* Content Styles */
.content {
  row-gap: var(--content-gap, theme("spacing.4"));

  @apply flex h-full w-full flex-col;

  @screen lg {
    row-gap: var(--content-gap-desktop, theme("spacing.4"));
    max-width: var(--content-width, 100%);
  }

  // Mobile Positions
  @screen max-lg {
    &[data-position="start"] {
      @apply ml-0 mr-auto items-start text-start;

      // CTA Positioning
      .o-ctas--horizontal-align-mobile {
        @apply justify-start;
      }

      .o-ctas--vertical-align-mobile {
        @apply items-start;
      }
    }

    &[data-position="center"] {
      @apply mx-auto items-center text-center;

      // CTA Positioning
      .o-ctas--horizontal-align-mobile {
        @apply justify-center;
      }

      .o-ctas--vertical-align-mobile {
        @apply items-center;
      }
    }

    &[data-position="end"] {
      @apply ml-auto mr-0 items-end text-end;

      // CTA Positioning
      .o-ctas--horizontal-align-mobile {
        @apply justify-end;
      }

      .o-ctas--vertical-align-mobile {
        @apply items-end;
      }
    }
  }

  // Desktop Positions
  @screen lg {
    &[data-position-desktop="start"] {
      @apply ml-0 mr-auto items-start text-start;

      // CTA Positioning
      .o-ctas--horizontal-align-desktop {
        @apply justify-start;
      }

      .o-ctas--vertical-align-desktop {
        @apply items-start;
      }
    }

    &[data-position-desktop="center"] {
      @apply mx-auto items-center text-center;

      // CTA Positioning
      .o-ctas--horizontal-align-desktop {
        @apply justify-center;
      }

      .o-ctas--vertical-align-desktop {
        @apply items-center;
      }
    }

    &[data-position-desktop="end"] {
      @apply ml-auto mr-0 items-end text-end;

      // CTA Positioning
      .o-ctas--horizontal-align-desktop {
        @apply justify-end;
      }

      .o-ctas--vertical-align-desktop {
        @apply items-end;
      }
    }
  }

  &[data-vertical-position="top"] {
    @screen lg {
      @apply justify-start;
    }
  }

  &[data-vertical-position="center"] {
    @screen lg {
      @apply justify-center;
    }
  }

  &[data-vertical-position="bottom"] {
    @screen lg {
      @apply justify-end;
    }
  }

  strong,
  b {
    @apply font-semibold;
  }

  &__overline,
  &__heading,
  &__text {
    word-break: break-all;
  }
}

/* RTE Styles */
.rte {
  --rte-gap: var(--content-gap);

  @apply w-full flex-grow;

  @screen lg {
    --rte-gap: var(--content-gap-desktop);
  }

  &:where(:not(.flex)) > *:where(:not(:last-child)) {
    margin-block-end: var(--rte-gap, 24px);

    &:where(p):empty {
      height: 0;

      &::before {
        content: "\a0";
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-block-start: var(--rte-gap);

    @screen lg {
      padding-block-start: var(--rte-gap);
    }
  }

  strong,
  b {
    @apply font-semibold;
  }

  p {
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    text-decoration: revert;

    &:hover {
      text-decoration-thickness: 2px;
      text-decoration-skip-ink: none;
    }
  }

  hr {
    width: 100%;
    height: 1px;
    background-color: theme("colors.border.light");
    border: none;
  }

  ul,
  ol {
    list-style: revert;
    list-style-position: inside;

    &.image-blocks {
      list-style: none;
      /* stylelint-disable-next-line declaration-no-important */
      list-style-image: none !important;

      @apply flex w-full flex-col flex-wrap gap-8 py-12 sm:flex-row sm:gap-4 sm:py-14;
    }

    .article & {
      list-style-image: url("data:image/svg+xml,%3Csvg width='12' height='1em' style='padding-top: 2px; margin-left: -2px;' viewBox='0 0 13 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' width='12' height='3' fill='var(--c-highlight)'/%3E%3C/svg%3E");
    }

    .hero--landing & {
      list-style-type: none;

      li {
        grid-template-columns: 18px auto;

        @apply grid items-start gap-x-2;

        &::before {
          content: "";
          display: block;
          width: 1.8rem;
          height: 1.8rem;
          background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 17' width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.66675 9.16667L6.66675 11.1667L11.3334 6.5' stroke='%23FFC309' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.99992 15.1663C11.6818 15.1663 14.6666 12.1816 14.6666 8.49967C14.6666 4.81778 11.6818 1.83301 7.99992 1.83301C4.31802 1.83301 1.33325 4.81778 1.33325 8.49967C1.33325 12.1816 4.31802 15.1663 7.99992 15.1663Z' stroke='%23FFC309' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");

          @apply mt-1 bg-no-repeat;
        }
      }
    }
  }

  li {
    p {
      &:first-child {
        display: inline;
      }
    }

    &.image-block {
      @apply flex-1;

      img {
        @apply my-0;
      }
    }

    .article & {
      line-height: 200%;
    }
  }

  &.article__content {
    figure {
      @apply my-14;
    }

    blockquote {
      @apply text-4xl text-primary;
    }

    figcaption {
      @apply text-lg;
    }
  }

  figure {
    @apply border-l-[3px] border-solid border-brand-1 pl-8;

    blockquote {
      line-height: 115%;

      @apply font-heading font-normal;
    }

    figcaption {
      @apply font-body font-medium text-citation;
    }
  }

  img {
    @apply my-14 overflow-hidden rounded-[6px];
  }

  table {
    table-layout: auto;
    max-width: 100vw;

    @apply block w-full overflow-scroll text-md;

    tbody {
      @apply border-y border-solid border-border-light;

      tr + tr {
        @apply border-t border-solid border-border-light;
      }
    }

    tr {
      @apply w-full;
    }

    th {
      @apply bg-grey-50 p-4 font-heading font-medium;
    }

    td {
      min-width: 260px;

      @apply p-4;
    }
  }

  &--page {
    :where(h1, h2, h3) {
      @apply text-2xl font-extrabold leading-none -tracking-2;
    }

    hr {
      @apply mb-8;
    }
  }
}
