/* stylelint-disable custom-property-pattern */

.slider {
  grid-template: "slider" / 1fr;

  @apply relative grid w-full place-items-start;

  /* When applied, the slider will ignore the inline-padding of it's container */
  &.slider--full-width {
    width: calc(100% + (var(--row-space) * 2));
    margin-inline: calc(var(--row-space) * -1);

    @apply overflow-hidden;

    .slider__viewport {
      @apply px-row;
    }
  }

  &__viewport,
  &__thumbnails-viewport {
    grid-area: slider;

    @apply h-full w-full overflow-hidden;

    &.is-draggable {
      @apply cursor-grab;
    }

    &.is-dragging {
      @apply cursor-grabbing;
    }
  }

  &__track,
  &__thumbnails-track {
    --col-gap: 0px;
    --row-gap: 0px;
    --slides: 1;

    grid-area: slider;
    gap: var(--row-gap) var(--col-gap);

    @apply flex h-full w-full flex-nowrap;

    // Applied when is direct child of slider e.g. not yet wrapped in viewport
    .slider > & {
      @apply overflow-hidden;
    }

    /* Global Section Slider Settings -- */
    // Active Facets
    :where(.slider--facets-active-facets-horizontal) &,
    :where(.slider--facets-active-facets-vertical) & {
      --col-gap: theme("spacing.3");

      .slider__item {
        width: fit-content;
      }
    }

    // Accounts Menu
    :where(.slider--main-account-menu) & {
      --col-gap: theme("spacing.5");

      .slider__item {
        @apply w-fit;
      }
    }

    // Banner Grid - Carousel
    :where(.slider--banner-grid-carousel) & {
      --col-gap: theme("spacing.8");
      --slides: 1.2;

      @screen md {
        --slides: 2;
      }

      @screen lg {
        --slides: 3;
      }

      @screen 2xl {
        --slides: 4;
      }

      .slider__item {
        @screen max-md {
          // Revert item width declared inside the .liquid file for mobile.
          /* stylelint-disable-next-line declaration-no-important */
          --item-width: calc(var(--_item-width)) !important;
        }
      }
    }

    // Content Cards - Carousel
    :where(.slider--content-cards-carousel) & {
      --col-gap: theme("spacing.8");
      --slides: 1.2;

      @screen md {
        --slides: 2;
      }

      @screen lg {
        --slides: 3;
      }

      @screen 2xl {
        --slides: 4;
      }
    }

    // Recently Viewed
    :where(.slider--recently-viewed) & {
      --col-gap: theme("spacing.8");
      --slides: 1.2;

      @screen md {
        --slides: 2;
      }

      @screen lg {
        --slides: 3;
      }

      @screen 2xl {
        --slides: 4;
      }
    }

    // Hero Banner
    :where(.slider--hero-banner) & {
      --col-gap: 0;
      --slides: 1;
    }

    // Journal Feed
    :where(.slider--journal-feed) & {
      --col-gap: theme("spacing.5");

      @screen md {
        --slides: 3;
      }

      @screen lg {
        --slides: 4;
      }
    }

    // Products Slider
    :where(.slider--products-slider) & {
      --col-gap: theme("spacing.5");
      --slides: 1.22;

      @screen md {
        --slides: 3;
      }

      @screen lg {
        --slides: 4;
      }
    }

    // Media Gallery/PDP
    :where(.slider--media-gallery) & {
      --slides: 1.3518;
      --col-gap: theme("spacing.6");
      --row-gap: theme("spacing.5");

      margin-left: calc(57 / 414 * 100%);

      @screen md {
        --slides: 2;
        --col-gap: 20px;

        flex-wrap: wrap;
        margin-left: 0;

        @apply ml-0 flex-wrap;
      }

      .slider__item {
        @apply rounded-1 border border-solid border-border-light;

        @screen md {
          &:nth-of-type(3n + 1) {
            @apply w-full;
          }
        }

        @screen 2xl {
          &--constrained {
            max-height: calc(100vh - var(--header-height) - 40px - 40px);
          }
        }
      }
    }

    :where(.slider--media-gallery) .is-active & {
      @apply ml-0;
    }

    // Feature Collections
    :where(.slider--feature-collections) & {
      --col-gap: 20px;
      --row-gap: 20px;
      --slides: 3.4;

      @screen lg {
        --slides: 4;
      }

      .slider__item {
        @screen max-md {
          --item-width: 96px;
        }
      }
    }

    // Testimonials
    :where(.slider--testimonials) & {
      --slides: 1.22;

      @screen md {
        --slides: 2.2;
      }

      @screen lg {
        --slides: 3.25;
      }

      .slider__item {
        --item-width: 300px;

        @screen md {
          --item-width: 405px;
        }
      }
    }

    // Content cards
    :where(.slider--content-cards) & {
      --col-gap: theme("spacing.5");
      --row-gap: theme("spacing.6");

      @screen md {
        --col-gap: calc(40 / (1424 + var(--page-padding)) * 100%);

        grid-template-columns: repeat(12, 1fr);

        @apply grid;
      }

      .is-active & {
        width: calc(100% + var(--row-space));
      }
    }

    // Promo bar
    :where(.slider--promo-bar) & {
      --slides: 1;

      @screen lg {
        --slides: 3;
      }
    }
  }

  &__thumbnails {
    // Quickshop
    :where(.slider--product-quickshop) & {
      @apply w-full;

      .slider__thumbnails-track {
        --col-gap: theme("spacing.2");
      }

      .slider__thumbnails-button {
        @apply w-10 min-w-10;
      }
    }
  }

  &__thumbnails-track {
    @apply mt-3;
  }

  &__thumbnails-button {
    @apply relative m-0 block h-full w-full cursor-pointer touch-manipulation border-0 p-0 outline-0;

    img {
      @apply rounded-2 border border-solid border-border-light transition-all;
    }

    &.is-selected {
      img {
        @apply border-black;
      }
    }
  }

  &__item {
    // prettier-ignore
    --_item-width: (100% / var(--slides)) - (var(--col-gap) * ((var(--slides) - 1) / var(--slides)));
    --item-width: calc(var(--_item-width));

    width: var(--item-width);

    @apply relative flex flex-shrink-0;

    .is-active & {
      &:last-child {
        margin-inline-end: var(--col-gap);
      }
    }
  }
}
