.product {
  display: grid;
  gap: var(--gap);

  @screen md {
    grid-template-columns: repeat(12, 1fr);
    padding-inline: var(--row-space);
  }

  &__media {
    position: relative;

    @screen md {
      grid-column: span 7;
    }

    &-badge {
      position: absolute;
      z-index: 1;
      top: theme("spacing.4");
      right: theme("spacing.4");
      width: 57px;
      height: 57px;

      @screen lg {
        width: 110px;
        height: 110px;
      }
    }

    .pinch-zoom-container {
      @apply w-full;
    }
  }

  &__details {
    padding-inline: var(--row-space);

    @screen md {
      top: var(--header-height);
      translate: 0 var(--header-offset);
      grid-column: span 5;
      align-self: flex-start;
      padding-inline: theme("spacing.4") 0;
      transition: translate 200ms cubic-bezier(0.37, 0, 0.63, 1);
    }

    // Style buy now buttons
    :where(.shopify-payment-button) {
      .shopify-payment-button__button {
        min-width: 100%;
        padding: 14px 26px;
        font-size: theme("fontSize.sm");
        font-weight: theme("fontWeight.bold");
        line-height: inherit;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        border-radius: 500px;

        &--unbranded {
          color: theme("colors.grey.10");
          background-color: theme("colors.white");
          box-shadow: inset 0 0 0 1px;

          &:hover {
            color: theme("colors.white");
            background-color: theme("colors.grey.10");
            box-shadow: none;
          }
        }

        &[aria-hidden="true"] {
          display: none;
        }
      }
    }
  }
}
