<div class="flex h-screen-d flex-col items-center justify-center p-4">
  {%- render 'theme_icons' with 'location', width: 80, height: 80, class: 'mb-6' -%}

  <h3 class="center mb-4 text-3xl font-medium  leading-1 lg:text-5xl">Turn on your location</h3>

  <p class="mb-4 text-center">Get alerts about your closest store on new drops, sales and special offers.</p>
</div>
