<div class="flex h-screen-d flex-col items-center justify-center p-4">
  {%- render 'theme_icons' with 'horn', width: 80, height: 80, class: 'mb-6' -%}
  <h3 class="center mb-4 text-3xl font-medium  leading-1 lg:text-5xl">Be first to know</h3>

  <p class="mb-4 text-center">Get alerts on back-in-stock, new drops and app-exclusive offers.</p>
</div>
