<div class="flex h-screen-d flex-col p-4">
  <a href="tryzens-sh-platform://navigate?screen=loginCheck" class="o-button o-button--primary o-button--full mb-3">
    {{- 'snippets.form.account_login.log_in_button' | t -}}
  </a>

  <a href="{{ routes.account_register_url }}" class="o-button o-button--secondary o-button--full">
    {{- 'snippets.form.account_register.create' | t -}}
  </a>
</div>
