{%- comment -%}
  -------------------------------------------------------------------------------
  Form - Errors
  -------------------------------------------------------------------------------
  Accepts
  - form: {Object} (required)
  - success_message: {Boolean} the form success message (optional)
  - error_heading: {Boolean} the form error message (optional)
  - preview_success: {Boolean} preview the error message (optional)
  - preview_error: {Boolean} preview the error message (optional)
  -------------------------------------------------------------------------------
  Usage
  {%- render 'form_errors',
    form: form,
    success_message: success_message,
    error_heading: error_heading,
    preview_success: preview_success,
    preview_error: preview_error
  -%}
  -------------------------------------------------------------------------------
  Description
  Renders consistent form errors.
{%- endcomment -%}

{%- if form.posted_successfully? or preview_success -%}
  <p
    class="mx-auto text-sm text-center text-validation-success"
    tabindex="-1"
    autofocus
  >
    {%- liquid
      render 'theme_icons' with 'success'
      echo success_message
    -%}
  </p>
{%- elsif form.errors or preview_error -%}
  <div class="flex flex-col mx-auto">
    <p
      class="flex items-center text-sm text-center gap-x-1 text-validation-error"
      role="alert"
      tabindex="-1"
      autofocus
    >
      {%- liquid
        render 'theme_icons' with 'error', width: 12, height: 12, class: 'stroke-validation-error'
        echo error_heading
      -%}
    </p>
    <ul class="mx-auto text-sm text-center text-validation-error">
      {%- for error in form.errors -%}
        <li>
          {%- liquid
            if error == 'form'
              echo form.errors.messages[error]
            else
              echo form.errors.translated_fields[error] | capitalize | append: ' '
              echo form.errors.messages[error]
            endif
          -%}
        </li>
      {%- endfor -%}
    </ul>
  </div>
{%- endif -%}
