{%- render 'section_spacing-and-color', section: section -%}

<h1 class="text-5xl font-extrabold uppercase md:text-center leading-1 -tracking-2 py-9 font-heading">
  {{- page.title -}}
</h1>

<hr class="mb-8 o-hr" role="presentation">

<div class="rte rte--page">
  {{ page.content }}
</div>
