{%- liquid
  render 'section_spacing-and-color', section: section

  assign media_block = section.blocks | where: 'type', 'media' | first

  capture height_class
    echo 'min-h-screen-d-minus-header'
  endcapture
-%}

<div class="grid lg:grid-cols-2 gap-y-9 {{ height_class }} text-section-primary">
  {%- if media_block != blank -%}
    <div class="-ml-row max-lg:-mr-row{%- if media_block.settings.mobile_hidden %} hidden lg:flex{%- endif -%}">
      {%- render 'object_image' with media_block.settings.image,
        mobile_image: media_block.settings.image_mobile,
        class: 'o-picture--fill',
        aspect: '840 / 745',
        aspect_mobile: '1 / 1',
        preload: true,
        img_class: 'o-picture--fill'
      -%}
    </div>
  {%- endif -%}

  <div class="flex justify-center px-6 py-9 md:px-13 md:py-13 only:col-span-2">
    <div class="max-w-[512px] w-full self-center max-md:items-center">
      <h1 id="forgot" tabindex="-1" class="text-5xl font-bold mb-9 font-heading">
        {{- 'sections.main_account_form_forgot_password.title' | t -}}
      </h1>

      {%- render 'form_account-forgot-password',
        hidden: false,
        title: 'sections.main_account_form_forgot_password.subtitle | t',
        text: 'sections.main_account_form_forgot_password.subtext | t',
        submit_button_style: section.settings.submit_button_style,
        login_button_style: section.settings.login_button_style
      -%}
    </div>
  </div>
</div>
