{%- render 'section_spacing-and-color', section: section -%}

<div
  class="grid items-center justify-center py-12 min-h-screen-d-minus-header"
  id="Main404"
>
  {%- render 'object_content', block: section.settings, class: 'h-full max-lg:justify-center' -%}
</div>
