{%- capture content -%}
  <li style="width:100% !important" ku-product-block class="klevuProduct klevuProductLoadMore">
    <div class="kuInfiniteScrollContainer">
        <button class="kuLoadMoreBtn">
          Load More
        </button>
    </div>
  </li>
{%- endcapture -%}

<script type="template/klevu" id="custom_klevuQuickTemplateInfiniteScrollDown">
  {{- content -}}
</script>
