{%- capture content -%}
  <% if( typeof dataLocal.ratingCount != "undefined" && dataLocal.ratingCount !== "" && dataLocal.ratingCount > 0 ) { %>
    <div class="klevuRatingCount">
      (<%=dataLocal.ratingCount%>)
    </div>
  <% } %>
{%- endcapture -%}

<script type="template/klevu" id="custom_klevuLandingProductRatingCount">
  {{- content -}}
</script>
