{%- capture content -%}
  <div class="kuInfiniteScrollContainer">
    <button class="kuLoadMoreBtn">
      Load More
    </button>
  </div>
{%- endcapture -%}

<script type="template/klevu" id="custom_klevuLandingTemplateInfiniteScrollDown">
  {{- content -}}
</script>
