{%- capture content -%}
  <%
    var outOfStockCaption = klevu.search.modules.kmcInputs.base.getOutOfStockCaptionValue();
    var productStockStatus = helper.translate(outOfStockCaption);
  %>
  <div class="kuClippedOne kuCaptionStockOut">
    <%= productStockStatus %>
  </div>
{%- endcapture -%}

<script type="template/klevu" id="custom_landingSearchResultProductStock">
  {{- content -}}
</script>
