{%- comment -%}
  -------------------------------------------------------------------------------
  Card - Product
  -------------------------------------------------------------------------------
  Accepts
  - class: {String} adds an additional parent class (optional)
  - class: {String} adds an additional class to the 'bottom' content (optional)
  - aspect_ratio: {String} sets the aspect ratio for the image. (optional)
  -------------------------------------------------------------------------------
  Usage
  {%- render 'card_list-product',
  class: class,
  -%}
  -------------------------------------------------------------------------------
  Description
  Renders an product card for a provided product object.
{%- endcomment -%}

{%- liquid
  assign class = class
  assign index = index
  assign product_form_id = 'product-form-' | append: index
-%}
<div class="lg:border-gray-200 flex max-lg:flex-col lg:items-center lg:gap-2 lg:border-b lg:px-4 lg:py-rem">
  <a
    class="max-lg:border-gray-200 items-center gap-2 max-lg:grid max-lg:grid-cols-2 max-lg:border max-lg:p-4 lg:flex lg:w-4/6"
    href="{{ product.url }}"
  >
    <div class="flex-shrink-0 max-lg:order-3 lg:w-1/4">
      {%- render 'product_sku', product: product, class: 'lg:w-fit' -%}
    </div>
    <div class="max-lg:order-1 lg:w-2/4">
      <p class="font-bold">{{- product.title -}}</p>
    </div>
    <div class="max-lg:order-2 max-lg:text-end lg:w-1/4">
      {%- render 'product_price', product: product, is_card: true -%}
    </div>
  </a>
  <div class="flex justify-end max-lg:flex-col max-lg:gap-3 max-lg:border max-lg:border-t-0 max-lg:p-4 lg:w-2/6 lg:items-center lg:gap-rem">
    <p class="font-bold lg:hidden">Qty</p>
    {%- render 'product_quantity-input',
      product: product,
      product_form_id: product_form_id,
      icon_width: 12,
      icon_height: 12,
      input_class: 'lg:w-[60px]',
      class: 'quantity-input--list'
    -%}

    {%- form 'product', product, is: 'product-form' -%}
      <input
        type="hidden"
        name="id"
        value="{{ product.selected_or_first_available_variant.id }}"
      >
      <button
        class="o-button o-button--primary max-lg:w-full"
        name="add"
        type="submit"
      >
        {{- 'global.products.add_to_cart' | t -}}
      </button>
    {%- endform -%}
  </div>
</div>
